.main{
  height: auto;
  width: 75%;
  background: #e2eaf7;
  padding: 0px;
  margin: 7% auto;
  /* border-radius: 0 0 50px 50px; */
  font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 780px) {
  .main{
    height: auto;
    width: 70%;
    margin: 10% auto;
  }
}

.logo{
  /* height:40px; */
  height: 80%;
  padding: 10px 0px 0 40px;
}
@media screen and (max-width: 780px) {
  .logo{
    /* height:40px; */
    height: 70%;
    padding: 10px 0 0 20px;
  }
}

.header{
  height: 50px;
  width: 100% auto;
  background: white;
  font-family: 'Inter', sans-serif;
  align-content: space-between;
  box-shadow: #c6d8f5 0px 5px 15px;
}


.form {
  margin: 80px 40px 40px 80px;
  font-size: 18px;
}
.h2 {
  font-size: 22px;
  font-weight: 400;
  color: #1f3e49;
}
.h8 {
  font-size: 12px;
  font-weight: 400;
  color: #a7b2bf;
  line-height: 10%;
}


@media screen and (max-width: 780px) {
  .form{
    margin: 40px 20px 20px 40px;
    font: 24px;
  }
}




#box-shadow {
  box-shadow: 0 0 0 1px var(--color);
}

#box-shadow:hover {
  border-width: 0;
}

#box-shadow:checked {
  box-shadow: 0 0 0 1px var(--checked-color);
  background-color: var(--checked-color);
  border-width: 0.2rem;
}




/*   ------- RADIO  ------- */

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 450;
}

.radio__input {
  display: none;
}

.radio__radio{
  width: 1.7em;
  height: 1.7em;
  border: 1px solid #4b3171;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing:border-box;
  padding: 2px;
}

.radio__radio::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #4b3171;
  border-radius: 50%;

  transform: scale(0) ;
  transition: all 0.075s;
}

.radio__input:checked + .radio__radio::after {
  transform: scale(.8) ;
}

.radio__input:not(:checked) + .radio__radio{
  border: 1px solid #9597a1;
}



/*  ------- SLIDER  ------- */

.slidercontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider input::-webkit-slider-progress {
  -webkit-appearance: none;
  height: 3px;
  border-radius: 5px;
  background: black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 1px solid red;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}







.range .sliderValue{
  position: relative;
  width: 100%;
}

.range .sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  background: purple;
  color: white;
  font-weight: 300;
}

.range .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.range .field .value{
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  color: purple;
}

.range .field .value.left{
  left: -22px;
  font-weight: 300;
}

.range .field .value.right{
  right: -43px;
}

.range .field input{
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}


.thankYouPage {
  display: none;
  height: auto;
  width: 380px;
  background: rgba(218, 75, 75, 0.418);
  border-radius: 10px;
  padding: 0 65px 0 45px;
  font-family: 'Inter', sans-serif;
}

.applyPage{
  display: none;
  height: auto;
  width: 380px;
  background: rgba(218, 75, 75, 0.418);
  border-radius: 10px;
  padding: 0 65px 0 45px;
  font-family: 'Inter', sans-serif;
}